/* ✅ style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #222831;
  overflow-x: hidden;
}
.all {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.container {
  width: 40vw;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 60px;
  background-color: #948979;
}
h1 {
  margin-top: 20px;
}
input {
  width: 28vw;
  height: 6vh;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid black;
  outline: none;
  padding: 10px;
}
#btn {
  position: absolute;
  right: 35vw;
  width: 8vw;
  height: 6vh;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #393e46;
  color: #fff;
  border: 2px solid black;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#btn:hover {
  background-color: #191e25;
  cursor: pointer;
}
#btn:active {
  transform: scale(0.95);
}

#listcontainer {
  width: 100%;
  margin-left: 12.5vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}

ul li {
  position: relative;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  border: 2px solid rgb(115, 109, 109);
  background-color: #393e46;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  padding: 10px 60px 10px 40px;
  overflow: hidden;
}

ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("assets/unchecked.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

ul li.checked::before {
  background-image: url("assets/checked.png");
}
ul li.checked p {
  text-decoration: line-through;
  color: #ffffff;
}

ul li p {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ul li span {
  position: absolute;
  right: 15px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
ul li span:hover {
  background-color: #191e25;
  cursor: pointer;
}
ul li span:active {
  transform: scale(0.95);
}
